In [41]:
%matplotlib inline

import numpy as np
import pandas as pd
from pandas.api.types import is_numeric_dtype
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans 

df = pd.read_csv("Dataset//Train_HR_Employee_Attrition.csv")

In [42]:
pd.factorize(df['Attrition'])

is_numeric_dtype(df['Attrition'])

for column in df.columns: 
    if not is_numeric_dtype(df[column]): 
        item = df[column]
        unique = list(df[column].unique())
        mapping = dict(zip(unique, range(0, len(unique) + 1)))
        df[column] = item.map(mapping).astype(int)


df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,52.0,0,0,593,0,9,4,0,2,0,...,3,80.0,0,20,2.0,2,8.0,7,2,13
1,36.0,0,0,1218,0,1,1,1,2,0,...,3,80.0,1,21,3.0,3,1.0,8,1,6
2,NaN,0,1,530,1,16,3,1,3,1,...,3,NaN,1,7,4.0,3,1.0,5,1,2
3,33.0,0,0,953,0,5,4,2,2,0,...,2,NaN,0,12,1.0,3,3.0,7,0,7
4,NaN,0,0,1380,0,9,2,1,3,2,...,3,80.0,0,2,NaN,3,10.0,2,2,1

In [43]:
#Executing kmeans on Train dataset, saving sse values on sse_values list
sse_values = list() 
max_k = 30
for k in range(2, max_k): 
    kmeans = KMeans(init='k-means++', n_clusters = k, max_iter = 100)
    kmeans.fit(df._get_numeric_data())
    sse_values.append(kmeans.inertia_)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [8]:
#plt.plot(range(2, max_k + 1), sse_values)
#plt.show()
sse_values

[]